.inner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.content {
  grid-column: 1 / span 16;

  @media screen and (min-width: 768px) {
    grid-column: 1 / span 16;

    display: flex;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 600;

    a {
      color: black;
      text-decoration: none;
    }
  }
}
