.el {
  padding-top: 120px;
  padding-bottom: 120px;
}

.heading {
  grid-column: 2 / span 10;

  font-size: 52px;
  margin-bottom: 32px;
}

.subheading {
  grid-column: 2 / span 10;

  font-size: 30px;
  margin-bottom: 32px;

  font-weight: 200;
}

.footer {
  grid-column: 2 / span 8;
}
