.el {
  overflow: hidden;
  position: relative;
}

.inner {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;

  background-color: #bebbf6;

  border-radius: 0 0 0 100px;
}

.heading {
  grid-column: 1 / span 16;

  font-size: 24px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    grid-column: 2 / span 7;

    font-size: 52px;
    margin-bottom: 32px;
  }
}

.subheading {
  grid-column: 1 / span 16;
  font-weight: 500;
  opacity: 0.7;

  font-size: 18px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    grid-column: 2 / span 6;

    font-size: 18px;
    margin-bottom: 32px;
  }
}

.footer {
  grid-column: 1 / span 16;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    grid-column: 2 / span 8;
    margin-bottom: 32px;
  }
}

.benefits {
  display: flex;
  gap: 24px;
  font-size: 15px;
  font-weight: 700;

  grid-column: 1 / span 16;

  @media screen and (min-width: 768px) {
    grid-column: 2 / span 8;
  }
}
