.el {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.aside {
  grid-column: 1 / span 16;

  @media screen and (min-width: 768px) {
    grid-column: 2 / span 4;
  }
}

.eyebrow {
  grid-column: 1 / span 16;

  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.5;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    grid-column: 4 / span 10;
    // text-align: center;
  }
}

.heading {
  grid-column: 1 / span 16;

  font-size: 24px;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    grid-column: 2 / span 6;
    font-size: 32px;
    margin-bottom: 16px;
    // text-align: center;
  }
}

.intro {
  font-weight: 500;
  font-size: 16px;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 20px;
  }
}

.content {
  grid-column: 1 / span 16;

  @media screen and (min-width: 768px) {
    grid-column: 4 / span 10;
    // text-align: center;
  }
}

.item1,
.item3,
.item5 {
  grid-column: 1 / span 16;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    grid-column: 7 / span 4;
    text-align: left;
  }
}

.item2,
.item4,
.item6 {
  grid-column: 1 / span 16;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    grid-column: 12 / span 4;
    text-align: left;
  }
}
