.el {
  padding-top: 40px;
  padding-bottom: 30px;
}

.item1 {
  grid-column: 3 / span 4;
  text-align: center;
}

.item2 {
  grid-column: 7 / span 4;
  text-align: center;
}

.item3 {
  grid-column: 11 / span 4;
  text-align: center;
}

.content {
  margin-top: 32px;
  grid-column: 1 / span 16;
  text-align: center;
}

.value {
  font-size: 48px;
}

.unit {
  font-weight: 500;
  margin-bottom: 16px;
}
