.el {
  display: flex;
  justify-content: center;
  width: 100%;

  background-color: #ffffff;
  // color: #365ba1;

  // background-color: #bebbf6;
  color: #0c1a1f;

  &:nth-child(odd) {
    background-color: #ffffff;
    color: #0c1a1f;
  }
}

.inner {
  padding: 0 16px;

  width: 100%;
  max-width: 1460px;

  @media screen and (min-width: 768px) {
    padding: 0 10px;
  }
}
