.el {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 1rem;

  margin: auto 0;

  width: 3rem;
  height: 3rem;

  border-radius: 50%;

  background-color: rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 768px) {
    right: 4rem;
    width: 3rem;
    height: 3rem;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 50%;

  background: #e53935; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e35d5b,
    #e53935
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e35d5b,
    #e53935
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
